body{
    background-image: linear-gradient( #E0F4F2,#A8DCD6);
    min-height: 100vh; 
    margin: 0;
    font-family: Poppins;
    color: #EFF3FF;
}
.header-blue{
    height: 7rem;
    background: #004D6B;
    display: flex;
    justify-content: space-between;
    margin: 0;
    vertical-align: top;
}
.BrightEDStartcontainer{
    font-size: 50px;
    display: flex;
    padding-left: 4rem;
    position: relative;
    bottom: 1.5rem;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-right: 2rem;
    padding-top: 1.6rem;
}
.text{
    padding-right: 2rem;
    margin: 0;
    padding-top: 2rem;
}
.header-link{
    text-decoration: none;
    color: #EFF3FF;
}
.image{
    padding-left: 1.8rem;
    position: absolute;
}
.menu-continer,
.grades-selection{
    display: flex;
    justify-content: center;
    font-family: Atkinson Hyperlegible;
    color: #00574F;
}
.Select{
    margin: 0;
    font-size: 48px;
}
.grades-selection{
    display: flex;
    justify-content: space-between;
    padding: 0rem 20rem;
}
.grade{
font-size: 36px;
margin: 0;
margin-top: 4rem;
}
.picture-selection{
    display: flex;
    justify-content: space-between;
    padding: 0rem 18rem;
}
.link-index{
    text-decoration: none;
    color: #EFF3FF;
}
.cutepicture2{
    display: flex;
    justify-content:space-between;
}

.secondpic{
   width: 690px;
}